html, body {
  height: 100%; /* to allow for vertical centering */
}

.all-pages-h1 {
  color: rgb(240, 0, 0);
}

.non-frontpage-h1 {
  margin-top: 30px;
}

@media screen and (max-width: 500px) {
  .container.justify-content-center {
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 500px) {
  .all-pages-h1 {
    margin-top: 10px;
  }
}

.faded-line {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
	height: 2px;
	background-image: linear-gradient(to right, transparent, rgb(109, 109, 109), transparent);
}

.faded-line img {
  display: flex; /* for centering the image on the page */
  margin-left: auto;
  margin-right: auto;
  margin-top: -13px; /* center image with line horizontally */
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  height: 30px;
}

.content-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .content-wrapper {
    padding-bottom: 50px !important;
  }
}

.responsive-iframe-container {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
  position: relative;  /* responsiveness */
  overflow: hidden;    /*       |        */
  width: 100%;         /*       |        */
  padding-top: 56.25%; /*       v        */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.nav-item {
  position: relative; /* to allow underline of active nav-links */
}

.nav-link {
  color: rgb(82, 82, 82)
}

.navbar-nav > li > a.active::after { /* underline the active link */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(240, 0, 0);
}

.navbar-nav > li > a.active {
  color: rgb(240, 0, 0) !important;
  font-weight: 600;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-img-max {
  max-width: 200px;
}

a {
  color:rgb(0, 0, 0);
}

/* FullCalendar Class Changes */

.fc .fc-button-primary {
  background-color: #f00000;
  border-color: #be0101;
}

.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #9c0000;
  border-color: #be0101;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(255, 122, 122, 0.15);
}

.fc .fc-scrollgrid table {
  background-color: rgb(252, 252, 252);
}

.fc .fc-toolbar-title {
  font-family: sans-serif;
  font-weight: 700;
}
